In [12]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [2]:
result = pd.read_csv("results.csv",names = ["strategy","congestion","demand","supply","prate","tax_cong","tax_demand",
                                            "private","revenue","cost","tax","profit","total_pax",
                                            "single_pax","shared_pax","ave_pax","ass1","ass2","ass3",
                                            "ave_dist","ave_time","public","ave_link_time","total_demand",
                                            "serviced_demand","stay_demand","serviced_rate","ave_time_offer",
                                            "ave_time_offer_s","ave_time_pickup"])

del result['public'],result['private'],result['demand']
del result['ass1'],result['ass2'],result['ass3']

In [3]:
result = result.loc[result['congestion'] == 1.0,:]
del result['congestion'],result['ave_link_time']

In [40]:
count = 0
compare_stra = np.zeros((3,4))
for supply in [0.25,0.5,1.0,1.5]:
    for prate in [0.5,0.6,0.7,0.8]:
        for tax in [0.0,-0.1]:
            count += 1
            temp = result.loc[(result['supply'] == supply) & (result['prate'] == prate) & (result['tax_cong'] == tax),
                              :]
            pricing_temp = np.asarray(temp.loc[(result['strategy'] == "Pricing Opt"),
                                            ['profit','ave_pax','ave_dist','ave_time']])
            full_temp = np.asarray(temp.loc[(result['strategy'] == "Full"),
                                            ['profit','ave_pax','ave_dist','ave_time']])
            single_temp = np.asarray(temp.loc[(result['strategy'] == "Single"),
                                            ['profit','ave_pax','ave_dist','ave_time']])
            shared_temp = np.asarray(temp.loc[(result['strategy'] == "Pool"),
                                            ['profit','ave_pax','ave_dist','ave_time']])
            compare_stra[0,:] += ((pricing_temp - full_temp) / pricing_temp)[0,:]
            compare_stra[1,:] += ((pricing_temp - single_temp) / pricing_temp)[0,:]
            compare_stra[2,:] += ((pricing_temp - shared_temp) / pricing_temp)[0,:]
            
compare_stra = compare_stra / count
compare_stra

In [16]:
pricing_result = result.loc[result['strategy'] == "Pricing Opt",:]
del pricing_result['strategy']
pricing_result['shared_rate'] = pricing_result['shared_pax'] / pricing_result['total_pax']
pricing_result['total_shared_rate'] = pricing_result['shared_pax'] / (pricing_result['serviced_demand'] \
                                                                      + pricing_result['stay_demand'])

In [5]:
pricing_result.loc[pricing_result['tax_cong'] == -0.1,['supply','prate','shared_rate','total_shared_rate']]

     supply  prate  shared_rate  total_shared_rate
385    0.25    0.5     0.000000           0.000000
387    0.25    0.6     0.068269           0.017791
389    0.25    0.7     0.839207           0.320527
391    0.25    0.8     1.000000           0.490667
393    0.50    0.5     0.000000           0.000000
395    0.50    0.6     0.003021           0.001258
397    0.50    0.7     0.837289           0.634555
399    0.50    0.8     1.000000           0.784290
401    1.00    0.5     0.000000           0.000000
403    1.00    0.6     0.000000           0.000000
405    1.00    0.7     0.000000           0.000000
407    1.00    0.8     1.000000           0.921584
409    1.50    0.5     0.000000           0.000000
411    1.50    0.6     0.000000           0.000000
413    1.50    0.7     0.000000           0.000000
415    1.50    0.8     1.000000           0.906675

In [6]:
pricing_result.loc[pricing_result['tax_cong'] == 0.0,['supply','prate','shared_rate','total_shared_rate']]

     supply  prate  shared_rate  total_shared_rate
384    0.25    0.5     0.000000           0.000000
386    0.25    0.6     0.000000           0.000000
388    0.25    0.7     0.000000           0.000000
390    0.25    0.8     0.999710           0.487495
392    0.50    0.5     0.000000           0.000000
394    0.50    0.6     0.000000           0.000000
396    0.50    0.7     0.000000           0.000000
398    0.50    0.8     0.999825           0.777114
400    1.00    0.5     0.000000           0.000000
402    1.00    0.6     0.000000           0.000000
404    1.00    0.7     0.000000           0.000000
406    1.00    0.8     0.929439           0.859804
408    1.50    0.5     0.000000           0.000000
410    1.50    0.6     0.000000           0.000000
412    1.50    0.7     0.000000           0.000000
414    1.50    0.8     0.291357           0.244303

In [14]:
pricing_result['ave_tax'] = pricing_result['tax'] / pricing_result['shared_pax'] 
pricing_result.loc[pricing_result['tax_cong'] == -0.1,['supply','prate','ave_tax']]

     supply  prate   ave_tax
385    0.25    0.5       NaN
387    0.25    0.6 -0.773700
389    0.25    0.7 -0.687318
391    0.25    0.8 -0.518524
393    0.50    0.5       NaN
395    0.50    0.6 -0.609613
397    0.50    0.7 -0.636197
399    0.50    0.8 -0.566118
401    1.00    0.5       NaN
403    1.00    0.6       NaN
405    1.00    0.7       NaN
407    1.00    0.8 -0.592640
409    1.50    0.5       NaN
411    1.50    0.6       NaN
413    1.50    0.7       NaN
415    1.50    0.8 -0.607898

In [15]:
pricing_result['ave_tax_veh'] = pricing_result['tax'] / pricing_result['supply'] / 200 
pricing_result.loc[pricing_result['tax_cong'] == -0.1,['supply','prate','ave_tax_veh']]

     supply  prate  ave_tax_veh
385    0.25    0.5     0.000000
387    0.25    0.6    -1.934250
389    0.25    0.7   -31.424200
391    0.25    0.8   -35.985600
393    0.50    0.5     0.000000
395    0.50    0.6    -0.054865
397    0.50    0.7   -29.627700
399    0.50    0.8   -32.727300
401    1.00    0.5     0.000000
403    1.00    0.6     0.000000
405    1.00    0.7     0.000000
407    1.00    0.8   -20.686100
409    1.50    0.5     0.000000
411    1.50    0.6     0.000000
413    1.50    0.7     0.000000
415    1.50    0.8   -13.898567

In [19]:
full_result = result.loc[result['strategy'] == "Full",:]
del full_result['strategy']
full_result['shared_rate'] = full_result['shared_pax'] / full_result['total_pax']
full_result['total_shared_rate'] = full_result['shared_pax'] / (full_result['serviced_demand'] \
                                                                      + full_result['stay_demand'])

In [20]:
full_result.loc[full_result['tax_cong'] == -0.1,['supply','prate','shared_rate','total_shared_rate']]

     supply  prate  shared_rate  total_shared_rate
97     0.25    0.5     0.849660           0.354678
99     0.25    0.6     0.831785           0.344052
101    0.25    0.7     0.834141           0.342042
103    0.25    0.8     0.833219           0.344666
105    0.50    0.5     0.787455           0.512198
107    0.50    0.6     0.788243           0.504532
109    0.50    0.7     0.784734           0.505525
111    0.50    0.8     0.770695           0.497858
113    1.00    0.5     0.703950           0.543150
115    1.00    0.6     0.706465           0.548583
117    1.00    0.7     0.712447           0.545565
119    1.00    0.8     0.713333           0.548348
121    1.50    0.5     0.698388           0.537207
123    1.50    0.6     0.700571           0.546632
125    1.50    0.7     0.695729           0.535299
127    1.50    0.8     0.711735           0.552476

In [21]:
full_result.loc[full_result['tax_cong'] == 0.0,['supply','prate','shared_rate','total_shared_rate']]

     supply  prate  shared_rate  total_shared_rate
96     0.25    0.5     0.837423           0.348461
98     0.25    0.6     0.827586           0.341443
100    0.25    0.7     0.832354           0.342971
102    0.25    0.8     0.839443           0.353084
104    0.50    0.5     0.779571           0.505230
106    0.50    0.6     0.779152           0.504765
108    0.50    0.7     0.776425           0.501517
110    0.50    0.8     0.786896           0.508287
112    1.00    0.5     0.703530           0.544329
114    1.00    0.6     0.705998           0.537291
116    1.00    0.7     0.711320           0.542784
118    1.00    0.8     0.716897           0.545221
120    1.50    0.5     0.709302           0.552073
122    1.50    0.6     0.706773           0.547035
124    1.50    0.7     0.700000           0.534912
126    1.50    0.8     0.692064           0.531702